:root {
    font-family: 'Roboto', sans-serif;

    --clr-inv-base: white;
    --clr-base: rgba(0, 0, 0, 50%);
    --clr-dark: black;

    scroll-behavior: smooth;
    --anchor-offset: 10vh;
}

hr {
    text-align: center;
    height: 0.25rem;
    border-radius: 5rem;
    background-color: var(--clr-dark);
}

.container {
    display: flex;
    align-items: center;
}

.small {
    width: calc(100vw / 12 * 8);
}

.wide {
    width: calc(100vw / 12 * 10);
}

.half {
    width: 50%;
}

.centered {
    text-align: center;
}

.label {
    text-align: center;
    padding: 0;
}

.left, .right {
    max-width: calc(100vw / 12 * 3.5);
}

.left {
    margin-right: auto;
}

.right {
    margin-left: auto;
}

.text {
    font-size: 1em;
}

/* <editor-fold desc="Scrollbar"> */
/* https://stackoverflow.com/questions/57862671/how-to-make-scroll-bar-overlay-content */

::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--clr-base);
    border-radius: 10rem;
    border: 1px solid #fff;
}

::-webkit-scrollbar-track-piece:start,
::-webkit-scrollbar-track-piece:end {
    background: transparent;
}

/* </editor-fold> */

/* <editor-fold desc="Resets"> */

html,
body,
ul,
li {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 1.75rem;
    margin: 0;
}

/* </editor-fold> */

/* <editor-fold desc="Navbar"> */

nav {
    position: fixed;
    width: 100vw;
}

nav * {
    outline: none;
    font-size: 1.5rem;
}

nav ul {
    list-style: none;
}

.navbar {
    overflow: hidden;
    background-color: var(--clr-base);
    display: flex;
    justify-content: space-evenly;
}

.navbar a {
    float: left;
    color: var(--clr-inv-base);
    text-align: center;
    padding: 1rem;
}

.navbar a:hover,
.navbar a:focus {
    background-color: var(--clr-base);
}

/* </editor-fold> */

/* <editor-fold desc="Header"> */

header {
    height: 100vh;
    background: #2C2C2C url("img/butterflies-chaos-and-fractals.webp") no-repeat center;
    background-size: cover;
    color: var(--clr-inv-base);
    display: flex;
    align-items: flex-end;
}

header .text {
    font-size: 1.5em;
}

header .container {
    padding: 2.5rem;
    margin: 15vh auto;
    border-radius: 2.5rem;
    background-color: var(--clr-base);
    flex-direction: column;
    gap: 2rem;
}

header .container > * {
    margin: 0;
    text-align: center;
}

/* </editor-fold> */

/* <editor-fold desc="Section"> */

section {
    margin: 10vh 0;
}

section .label {
    margin-bottom: 2rem;
}

section img {
    max-width: calc(100vw / 12 * 5.5);
    align-self: center;
    display: block;
}

section .text > *:first-child {
    margin-top: 0;
}

section .text > *:last-child {
    margin-bottom: 0;
}

/* </editor-fold> */

#definition .container {
    margin-left: auto;
}

#types .container {
    margin-left: auto;
    margin-right: auto;
    align-items: center;
}

#types h3 {
    margin-bottom: 1rem;
}

#frac-sizing .container {
    margin-left: auto;
}

/* <editor-fold desc="Footer"> */

footer {
    height: 100vh;
    background: #2C2C2C url("img/footer.webp") no-repeat center;
    background-size: cover;
    color: var(--clr-inv-base);
    display: flex;
    align-items: center;
    justify-content: center;
}

footer p, h2 {
    margin: 0;
    padding: 0;
}

footer .text {
    columns: 2;
    gap: calc(100vw / 12);
}

footer .container {
    padding: 4rem 5rem;
    border-radius: 2.5rem;
    background-color: var(--clr-base);
    flex-direction: column;
    gap: 3rem;
    transform: translateY(3rem);
}

footer .container label {
    margin: 0;
    text-align: center;
}

/* </editor-fold> */