header {
  height: 100vh;
  background-color: #2C2C2C;
  background-image: url("img/Something-Green-2880x1920.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}