@use "../abstracts/colors" as *;
@use "../base/mixins" as *;

nav {
  position: fixed;
  width: 100vw;

  * {
    outline: none;
  }
}

.navbar {
  overflow: hidden;
  background-color: transparentize(hsl($clr-base), 0.4);
  display: flex;
  justify-content: space-evenly;

  a {
    float: left;
    color: $clr-nav-text;
    text-align: center;
    padding: 14px 16px;
  }
}

.dropdown {
  float: left;
  overflow: hidden;

  .dropbtn {
    border: none;
    color: $clr-nav-text;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
}

.navbar a:hover,
.navbar a:focus,
.dropdown:hover .dropbtn,
.dropdown:focus .dropbtn {
  background-color: transparentize(darken(hsl($clr-base), 0.15), 0.4);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: transparentize(hsl($clr-base), 0.4);
  min-width: 160px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;

  a {
    float: none;
    padding: 12px 16px;
    display: block;
    text-align: left;

    &:hover,
    &:focus {
      background-color: transparentize(hsl($clr-base), 0.4);
    }
  }
}

.dropdown:hover .dropdown-content,
.dropdown:focus .dropdown-content,
.dropbtn:focus .dropdown-content {
  display: block;
}